.title {
  font-size: 20px;
  font-weight: bold;
}

.switchBtn {
  margin-right: 18px;
}

.username {
  padding-right: 8px;
  font-size: 18px;
  font-weight: bold;
  color: $primary-color;
  cursor: pointer;
}
