@mixin shadow-3-down {
  box-shadow: 0px 6px 16px -8px rgba(0, 0, 0, 0.08),
    0 9px 28px 0 rgba(0, 0, 0, 0.05), 0 12px 48px 16px rgba(0, 0, 0, 0.03);
}

@mixin shadow-3-right {
  box-shadow: 6px 0 16px -8px rgba(0, 0, 0, 0.08),
    9px 0 28px 0px rgba(0, 0, 0, 0.05), 12px 0 48px 16px rgba(0, 0, 0, 0.16);
}

@mixin shadow {
  box-shadow: 0 0 6px 6px rgba(0,0,0,0.16);
}

@mixin flex-vertical-center {
  display: flex;
  align-items: center;
}

@mixin flex-horizontal-center {
  display: flex;
  justify-content: center;
}

@mixin flex-center {
  display: flex;
  justify-content: cener;
  align-items: center;
}
