.home {
  width: 100%;
  min-height: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: $header-h;

  @include shadow-2-down();
}
